<div class="container">
    <div class="top-bar">
        <button class="settings-button" (click)="abrirConfig()">⚙️</button>
      </div>
    <h1>Novo apontamento de operação</h1>
  
    <!-- Criar nova ordem de produção -->
    <div class="config-switch">
        <label class="switch">
          <input type="checkbox" [(ngModel)]="criarNovaOrdem">
          <span class="slider round"></span>
          Criar nova ordem de produção
        </label>
      </div>

  <!-- Item -->
  <div class="input-field" *ngIf="usaCriarOp && criarNovaOrdem">
    <label for="item">Item</label>
      <div class="input-inline">
          <input type="text" id="item" [(ngModel)]="item" placeholder="Digite o código do item">
          <button type="button" class="icon-button" (click)="openItemModal()">🔍</button>
      </div>
  </div>

  
  
  <!-- Linha: Ordem de Produção + Operação -->
<div class="row-inline" *ngIf="!criarNovaOrdem">
  
    <div class="input-field">
      <label for="ordemProducao">Ordem de Produção</label>
      <div class="input-inline">
        <input type="text" id="ordemProducao" [(ngModel)]="ordemProducao" placeholder="Digite o número da OP">
        <button type="button" class="icon-button" (click)="openOPModal()">🔍</button>
      </div>
    </div>
  
    <div class="input-field">
      <label for="operacao">Operação</label>
      <select id="operacao" [(ngModel)]="operacao">
        <option value="10">10 - Cortar</option>
        <option value="20">20 - Lixar</option>
        <option value="30">30 - Embalar</option>
      </select>
    </div>
  
  </div>
  
  <!-- Linha: Operador + Estação de Trabalho -->
  <div class="row-inline">
    
    <div class="input-field">
      <label for="operador">Operador</label>
      <select id="operador" [(ngModel)]="operador">
        <option>João</option>
        <option>Maria</option>
        <option>Carlos</option>
        <option>Ana</option>
        <option>Lucas</option>
      </select>
    </div>
  
    <div class="input-field">
      <label for="estacaoDeTrabalho">Estação de trabalho</label>
      <select id="estacaoDeTrabalho" [(ngModel)]="estacaoDeTrabalho">
        <option>MAQ1</option>
        <option>MAQ2</option>
        <option>MAQ3</option>
        <option>MAQ4</option>
      </select>
    </div>
  
  </div>
    <!-- Turno -->
    <div class="input-field" *ngIf="usaTurno">
        <label for="turno">Turno</label>
        <select id="turno" [(ngModel)]="turno" (change)="atualizarHoras()">
          <option>MANHÃ</option>
          <option>TARDE</option>
          <option>NOITE</option>
        </select>
    </div>
      
    <div class="config-switch" *ngIf="mostrarInicioFim">
        <label class="switch">
          <input type="checkbox" [(ngModel)]="showInformarInicio">
          <span class="slider round"></span>
          🕒 Informar início manualmente
        </label>
      </div>
     <!-- Início -->
     <div class="input-field" *ngIf="mostrarInicioFim && showInformarInicio">
        <label>Início</label>
        <div class="input-inline">
          <input type="date" [(ngModel)]="dataInicio">
          <input type="time" [(ngModel)]="horaInicio">
          <button *ngIf="!usaTurno" type="button" class="icon-button" (click)="iniciar()">Iniciar</button>
        </div>
    </div>

    <div class="config-switch" *ngIf="mostrarInicioFim">
        <label class="switch">
          <input type="checkbox" [(ngModel)]="showInformarFim">
          <span class="slider round"></span>
          🕒 Informar fim manualmente
        </label>
    </div>
      
  <!-- Fim -->
  <div class="input-field" *ngIf="mostrarInicioFim && showInformarFim">
    <label>Fim</label>
    <div class="input-inline">
      <input type="date" [(ngModel)]="dataFim">
      <input type="time" [(ngModel)]="horaFim">
      <button *ngIf="!usaTurno" type="button" class="icon-button" (click)="parar()">Parar</button>
    </div>
  </div>
    
  <!-- Motivo de Parada -->
<div class="input-field" *ngIf="usaParada">
    <label for="motivoDeParada">Motivo de Parada</label>
    <select id="motivoDeParada" [(ngModel)]="motivoDeParada">
      <option value="ALM">Pausa para almoço</option>
      <option value="EXP">Término do expediente</option>
      <option value="FIM_ET">Fim desta ET na operação</option>
      <option value="FIM_OP">Fim da operação</option>
      <option value="OUT">Outros motivos</option>
    </select>
  </div>
  
    <!-- Quantidade apontada -->
    <div class="input-field">
        <label for="quantidadeApontada">Quantidade Apontada</label>
        <div class="input-inline">
          <input type="number" id="quantidadeApontada" [(ngModel)]="quantidadeApontada">
          <button type="button" class="icon-button" (click)="openQuantityModal()">📊</button>
        </div>
      </div>
    
    <!-- Quantidade dupla checagem -->
    <div class="input-field" *ngIf="usaDuplaChecagem">
        <label for="quantidadeDuplaChecagem">Quantidade Dupla Checagem</label>
        <div class="input-inline">
        <input type="number" id="quantidadeDuplaChecagem" [(ngModel)]="duplaChecagem">
        <button type="button" class="icon-button" (click)="openDuplaChecagemModal()">📊</button>
        </div>
    </div>
  
  
    <!-- Botões -->
    <div class="button-row">
        <button *ngIf="!horaInicio" class="button-large blue" (click)="iniciar()">Iniciar</button>
        <button *ngIf="!horaFim" class="button-large red" (click)="parar()">Parar</button>
        <button class="button-large" (click)="finalizarApontamento()">Salvar</button>
        <button class="button-large" (click)="finalizarApontamento()">Salvar e novo</button>
        <button class="button-large gray" (click)="limparDados()">Cancelar</button>
      </div>
      
    
  <!-- Modal Item -->
  <div class="modal" *ngIf="showItemModal">
    <div class="modal-content">
      <h2>Escolha um Item</h2>
      <table>
        <tr><th>Código</th><th>Descrição</th></tr>
        <tr *ngFor="let it of itens" (click)="selectItem(it.descricao)">
          <td>{{ it.codigo }}</td><td>{{ it.descricao }}</td>
        </tr>
      </table>
      <button class="button-large red" (click)="closeModal()">Fechar</button>
    </div>
  </div>

    <!-- Modal OP -->
    <div class="modal" *ngIf="showOpModal">
      <div class="modal-content">
        <h2>Escolha uma Ordem de Produção</h2>
        <table>
          <tr><th>Ordem de Produção</th></tr>
          <tr *ngFor="let op of ordens" (click)="selectOP(op)"><td>{{ op }}</td></tr>
        </table>
        <button class="button-large red" (click)="closeModal()">Fechar</button>
      </div>
    </div>
    
     <!-- Modal Configurações -->
    <div class="modal" *ngIf="showConfig">
        <div class="modal-content">
          <h2>Configurações</h2>
          <div class="config-switch">
            <label>Usar criar OP no apontamento de produção.</label>
            <input type="checkbox" [(ngModel)]="usaCriarOp">
          </div>
          <div class="config-switch">
            <label>Usar turno.</label>
            <input type="checkbox" [(ngModel)]="usaTurno">
          </div>
          <div class="config-switch">
            <label>Mostrar início e fim.</label>
            <input type="checkbox" [(ngModel)]="mostrarInicioFim">
          </div>
          <div class="config-switch">
            <label>Usar motivo de parada.</label>
            <input type="checkbox" [(ngModel)]="usaParada">
          </div>
          <div class="config-switch">
            <label>Usar dupla checagem.</label>
            <input type="checkbox" [(ngModel)]="usaDuplaChecagem">
          </div>
          <button class="button-large" (click)="fecharConfig()">Fechar</button>
        </div>
      </div>
    
      <!-- Modal Dupla Checagem -->
<div class="modal" *ngIf="showDuplaChecagemModal">
    <div class="modal-content">
      <h2>Quantidade Total Dupla Checagem</h2>
  
      <label>Quantidade Total</label>
      <input type="text" [value]="quantidadeTotalDuplaChecagem" disabled>
  
      <table class="grid">
        <thead>
          <tr>
            <th>Leitura</th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let leitura of leiturasDuplaChecagem; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ leitura }}</td>
          </tr>
        </tbody>
      </table>
  
      <button class="button-large" (click)="incluirLeituraDuplaChecagem()">Incluir Leitura</button>
      <button class="button-large red" (click)="finalizarLeituraDuplaChecagem()">FINALIZAR LEITURA</button>
    </div>
  </div>
  

    <!-- Modal Quantidade -->
    <div class="modal" *ngIf="showQuantidadeModal">
      <div class="modal-content">
        <h2>Quantidade Total Apontada</h2>
        <label>Quantidade Total</label>
        <input type="text" [value]="quantidadeTotal" disabled>
        <table class="grid">
          <thead>
            <tr><th>Leitura</th><th>Quantidade</th></tr>
          </thead>
          <tbody>
            <tr *ngFor="let leitura of leituras; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ leitura }}</td>
            </tr>
          </tbody>
        </table>
        <button class="button-large" (click)="incluirLeitura()">Incluir Leitura</button>
        <button class="button-large red" (click)="finalizarLeitura()">FINALIZAR LEITURA</button>
      </div>
    </div>
  </div>
  