<div class="container">
    <div class="top-bar">
        <button class="settings-button" (click)="abrirConfig()">⚙️</button>
      </div>
    <h1>Novo apontamento de operação</h1>
  
    <!-- Criar nova ordem de produção -->
    <div class="config-switch" *ngIf="usaCriarOp">
        <label class="switch">
          <input type="checkbox" [(ngModel)]="criarNovaOrdem">
          <span class="slider round"></span>
          Criar nova ordem de produção
        </label>
      </div>

  <!-- Item -->
  <div class="section" *ngIf="usaCriarOp && criarNovaOrdem">
    <div class="input-field">
      <label for="item">Item</label>
        <div class="input-inline">
            <input type="text" id="item" [(ngModel)]="item" placeholder="Digite o código do item">
            <button type="button" class="icon-button" (click)="openItemModal()">🔍</button>
        </div>
    </div>
  </div>

  
  <!-- Linha: Operador + Estação de Trabalho -->
  <div class="section">
  <div class="row-inline">
    
    <div class="input-field" *ngIf="tipoDoApontamento == 'operador'">
      <label for="operador">Operador</label>
      <select [disabled]="apontamentoIniciado" id="operador" [(ngModel)]="operador">
        <option>João</option>
        <option>Maria</option>
        <option>Carlos</option>
        <option>Ana</option>
        <option>Lucas</option>
      </select>
    </div>
  
    <div class="input-field" *ngIf="tipoDoApontamento == 'estacao'">
      <label for="estacaoDeTrabalho">Estação de trabalho</label>
      <select [disabled]="apontamentoIniciado" id="estacaoDeTrabalho" [(ngModel)]="estacaoDeTrabalho">
        <option>MAQ1</option>
        <option>MAQ2</option>
        <option>MAQ3</option>
        <option>MAQ4</option>
      </select>
    </div>

    <div class="input-field" *ngIf="tipoDoApontamento == 'estacao'">
      <label for="operador">Operador (info)</label>
      <select [disabled]="apontamentoIniciado" id="operador" [(ngModel)]="operador">
        <option>João</option>
        <option>Maria</option>
        <option>Carlos</option>
        <option>Ana</option>
        <option>Lucas</option>
      </select>
    </div>
  
  </div>
</div>


  <!-- Linha: Ordem de Produção + Operação -->
<div class="section" *ngIf="!criarNovaOrdem">   
  <div class="row-inline">
    
      <div class="input-field">
        <label for="ordemProducao">Ordem de produção</label>
        <div class="input-inline">
          <input [disabled]="apontamentoIniciado" type="text" id="ordemProducao" [(ngModel)]="ordemProducao" placeholder="Digite o número da OP">
          <button type="button" class="icon-button" (click)="openOPModal()">🔍</button>
        </div>
      </div>
    
      <div class="input-field">
        <label for="operacao">Operação</label>
        <select [disabled]="apontamentoIniciado" id="operacao" [(ngModel)]="operacao">
          <option value="10">10 - Cortar</option>
          <option value="20">20 - Lixar</option>
          <option value="30">30 - Embalar</option>
        </select>
      </div>
    
    </div>
  </div>  
  
  

    <!-- Turno -->
<div class="section" *ngIf="usaTurno"> 
    <div class="input-field" *ngIf="usaTurno">
        <label for="turno">Turno</label>
        <select [disabled]="apontamentoIniciado" id="turno" [(ngModel)]="turno" (change)="atualizarHoras()">
          <option>MANHÃ</option>
          <option>TARDE</option>
          <option>NOITE</option>
        </select>
    </div>
  </div>   

  <!-- INÍCIO E FIM  -->
  <div class="section">
    <div class="row-inline">
      <div class="config-switch" *ngIf="!apontamentoIniciado">
        <label class="switch">
          <input type="checkbox" [(ngModel)]="showInformarInicio">
          <span class="slider round"></span>
          Definir data e hora de início
        </label>
      </div>
      <!-- Início -->
      <div class="input-field" *ngIf="showInformarInicio || apontamentoIniciado">
        <label>Início</label>
        <div class="input-inline">
          <input [disabled]="apontamentoIniciado" type="date" [(ngModel)]="dataInicio">
          <input [disabled]="apontamentoIniciado" type="time" [(ngModel)]="horaInicio">
        </div>
      </div>
      <!-- Duração -->
      <div class="input-field" *ngIf="apontamentoIniciado">
        <label for="duracao">Duração</label>
        <div class="input-inline">
          <input type="text" id="duracao" [(ngModel)]="duracaoManual" disabled>
        </div>
      </div>
      
      <!-- Fim -->
      <div class="config-switch" *ngIf="apontamentoIniciado && !apontamentoFinalizado">
        <label class="switch">
          <input type="checkbox" [(ngModel)]="showInformarFim">
          <span class="slider round"></span>
          Definir data e hora de fim
        </label>
      </div>
      <div class="input-field" *ngIf="showInformarFim && apontamentoIniciado || apontamentoFinalizado">
        <label>Fim</label>
        <div class="input-inline">
          <input [disabled]="apontamentoFinalizado" type="date" [(ngModel)]="dataFim">
          <input [disabled]="apontamentoFinalizado" type="time" [(ngModel)]="horaFim">
        </div>
      </div>
  
      
    </div>
  </div>
  
  <!-- QUANTIDADES -->
  <div class="section" *ngIf="apontamentoIniciado">
    <div class="row-inline">
  
      <!-- Qt planejada -->
      <div class="input-field">
        <label>Qt planejada</label>
        <input type="number" [value]="100" disabled>
      </div>
  
      <!-- Qt prod. nesse apontamento -->
      <div class="input-field" *ngIf="showQtProdNessaOperacao">
        <label>Qt produzida</label>
        <div class="input-inline">
          <input type="number" [value]="quantidadeApontadaTotal" disabled>
        <!-- Botão com número + ícone -->
          <button 
          *ngIf="showAdicionarProd" 
          type="button" 
          class="icon-button green" 
          (click)="adicionarQtProd()">
          + {{ valorAdicionarProd }}
        </button>
        </div>
        
      </div>
  
      <!-- Qt a apontar -->
      <div class="input-field">
        <label for="quantidadeApontada">Qt a apontar</label>
        <div class="input-inline">
          <input type="number" id="quantidadeApontada" [(ngModel)]="quantidadeApontada">
          <!-- Botão do código de barras -->
          <button type="button" class="icon-button" (click)="openQuantityModal()">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M40-120v-200h80v120h120v80H40Zm680 0v-80h120v-120h80v200H720ZM160-240v-480h80v480h-80Zm120 0v-480h40v480h-40Zm120 0v-480h80v480h-80Zm120 0v-480h120v480H520Zm160 0v-480h40v480h-40Zm80 0v-480h40v480h-40ZM40-640v-200h200v80H120v120H40Zm800 0v-120H720v-80h200v200h-80Z"/></svg>
          </button>
          <button type="button" class="button-apontar" (click)="apontarQuantidade()">
            Apontar
          </button>
        </div>
      </div> 
  
      <!-- Qt dupla checagem -->
      <div class="input-field" *ngIf="usaDuplaChecagem">
        <label for="quantidadeDuplaChecagem">Qt dupla checagem</label>
        <div class="input-inline">
          <input type="number" id="quantidadeDuplaChecagem" [(ngModel)]="duplaChecagem">
          <button type="button" class="icon-button" (click)="openDuplaChecagemModal()">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M40-120v-200h80v120h120v80H40Zm680 0v-80h120v-120h80v200H720ZM160-240v-480h80v480h-80Zm120 0v-480h40v480h-40Zm120 0v-480h80v480h-80Zm120 0v-480h120v480H520Zm160 0v-480h40v480h-40Zm80 0v-480h40v480h-40ZM40-640v-200h200v80H120v120H40Zm800 0v-120H720v-80h200v200h-80Z"/></svg>
          </button>
        </div>
      </div>
  
    </div>
  </div>
  
  

  <!-- PARADAS -->

  <div class="section" *ngIf="apontamentoIniciado && usaParada && apontamentoFinalizado">
    <label>Parado em: 🍝 Pausa para almoço</label>
  </div> 
  <div class="section" *ngIf="apontamentoIniciado && usaParada && !apontamentoFinalizado">
    <div class="input-field">
      <label>Motivo de parada</label>
      <div class="button-group">
        <button 
          class="button blue" 
          type="button"
          [class.selected]="motivoDeParada === 'ALM'" 
          (click)="pausar()">
          🍝 Pausa para almoço
        </button>
  
        <button 
          class="button blue" 
          type="button"
          [class.selected]="motivoDeParada === 'EXP'" 
          (click)="pausar()">
          Término do expediente
        </button>
  
        <button 
          class="button blue" 
          type="button"
          [class.selected]="motivoDeParada === 'FIM_ET'" 
          (click)="pausar()">
          Fim desta ET na operação
        </button>
  
        <button 
          class="button blue" 
          type="button"
          [class.selected]="motivoDeParada === 'FIM_OP'" 
          (click)="fimDaOperacao()">
          Fim da operação
        </button>
  
        <button 
          class="button blue" 
          type="button"
          [class.selected]="motivoDeParada === 'OUT'" 
          (click)="pausar()">
          Outros motivos
        </button>
      </div>
    </div>
  </div>
  
  
    <!-- Botões finais -->
    <div class="button-row">
        <button class="button-large blue" *ngIf="!apontamentoIniciado" (click)="iniciar()">
          <span class="icon-text">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#ffffff" width="26" height="26">
              <path d="M320-200v-560l440 280-440 280Zm80-280Zm0 134 210-134-210-134v268Z"/>
            </svg>
            Iniciar
          </span>
        </button>
        <button class="button-large yellow" *ngIf="apontamentoIniciado && !apontamentoFinalizado && !usaParada" (click)="pausar()">⏸ Parar</button>
        <button class="button-large green" *ngIf="apontamentoIniciado && !apontamentoFinalizado" (click)="fimDaOperacao()">⏹ Finalizar operação</button>
        <button class="button-large blue" *ngIf="apontamentoFinalizado && !operacaoFinalizada" (click)="reiniciar()">Reiniciar</button>
        <button class="button-large green" *ngIf="apontamentoFinalizado" (click)="novoApontamento()">Novo apontamento</button>
        <button class="button-large gray" (click)="cancelar()">Cancelar</button>
    </div>
      
  <!-- Modal Item -->
  <div class="modal" *ngIf="showItemModal">
    <div class="modal-content">
      <h2>Escolha um item</h2>
      <table>
        <tr><th>Código</th><th>Descrição</th></tr>
        <tr *ngFor="let it of itens" (click)="selectItem(it.descricao)">
          <td>{{ it.codigo }}</td><td>{{ it.descricao }}</td>
        </tr>
      </table>
      <button class="button-large red" (click)="closeModal()">Fechar</button>
    </div>
  </div>

    <!-- Modal OP -->
    <div class="modal" *ngIf="showOpModal">
      <div class="modal-content">
        <h2>Escolha uma ordem de produção</h2>
        <table>
          <tr><th>Ordem de produção</th></tr>
          <tr *ngFor="let op of ordens" (click)="selectOP(op)"><td>{{ op }}</td></tr>
        </table>
        <button class="button-large red" (click)="closeModal()">Fechar</button>
      </div>
    </div>
    
     <!-- Modal Configurações -->
    <div class="modal" *ngIf="showConfig">
        <div class="modal-content">
          <h2>Configurações</h2>
          <div class="config-switch">
            <label>Usar criar OP no apontamento de produção.</label>
            <input type="checkbox" [(ngModel)]="usaCriarOp">
          </div>
          <div class="config-switch">
            <label>Usar turno.</label>
            <input type="checkbox" [(ngModel)]="usaTurno">
          </div>
          <div class="config-switch">
            <label>Mostrar início e fim.</label>
            <input type="checkbox" [(ngModel)]="mostrarInicioFim">
          </div>
          <div class="config-switch">
            <label>Usar motivo de parada.</label>
            <input type="checkbox" [(ngModel)]="usaParada">
          </div>
          <div class="config-switch">
            <label>Usar dupla checagem.</label>
            <input type="checkbox" [(ngModel)]="usaDuplaChecagem">
          </div>
          <div class="config-switch">
            <label>Mostrar qt produzida nessa operação.</label>
            <input type="checkbox" [(ngModel)]="showQtProdNessaOperacao">
          </div>
          <div class="config-switch">
            <label>Usar botão de adicionar quantidade produzida.</label>
            <input type="checkbox" [(ngModel)]="showAdicionarProd">
          </div>
          
          <div class="config-switch" *ngIf="showAdicionarProd">
            <label>Valor do botão adicionar quantidade</label>
            <input type="number" [(ngModel)]="valorAdicionarProd">
          </div>
          <button class="button-large gray" (click)="fecharConfig()">Fechar</button>
        </div>
      </div>
    
      <!-- Modal Dupla Checagem -->
<div class="modal" *ngIf="showDuplaChecagemModal">
    <div class="modal-content">
      <h2>Quantidade total dupla checagem</h2>
  
      <label>Quantidade total</label>
      <input type="text" [value]="quantidadeTotalDuplaChecagem" disabled>
  
      <table class="grid">
        <thead>
          <tr>
            <th>Leitura</th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let leitura of leiturasDuplaChecagem; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ leitura }}</td>
          </tr>
        </tbody>
      </table>
  
      <button class="button-large blue" (click)="incluirLeituraDuplaChecagem()">Incluir Leitura</button>
      <button class="button-large red" (click)="finalizarLeituraDuplaChecagem()">Finalizar leitura</button>
    </div>
  </div>
  

    <!-- Modal Quantidade -->
    <div class="modal" *ngIf="showQuantidadeModal">
      <div class="modal-content">
        <h2>Quantidade total apontada</h2>
        <label>Quantidade total</label>
        <input type="text" [value]="quantidadeTotal" disabled>
        <table class="grid">
          <thead>
            <tr><th>Leitura</th><th>Quantidade</th></tr>
          </thead>
          <tbody>
            <tr *ngFor="let leitura of leituras; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ leitura }}</td>
            </tr>
          </tbody>
        </table>
        <button class="button-large blue" (click)="incluirLeitura()">Incluir leitura</button>
        <button class="button-large red" (click)="finalizarLeitura()">Finalizar leitura</button>
      </div>
    </div>
  </div>
  