body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: 'Roboto', sans-serif;
}

.pagina-inicial {
  min-height: 100vh;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column; /* ← ESSENCIAL */
  justify-content: center;
  align-items: center;
  gap: 30px; /* espaço entre o grid e o botão cinza */
}


.botao-consultar-container {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.botao-consultar {
  width: 718px;
}



.grid-inicial {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 30px;
}

.moldura {
  border: 2px solid #3f84df;
  border-radius: 12px;
  padding: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botao-apontar {
  font-size: 18px;
  font-weight: bold;
  padding: 18px 26px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  width: 270px;
  text-align: center;
}

.botao-apontar svg {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  fill: white;
}

/* Cores dos botões */
.botao-apontar.green { background-color: #2A7D08; }
.botao-apontar.green:hover { background-color: #226707; }

.botao-apontar.blue { background-color: #023A6A; }
.botao-apontar.blue:hover { background-color: #022a4e; }

.botao-apontar.gray { background-color: #b6b6b6; }
.botao-apontar.gray:hover { background-color: #999999; }

.botao-apontar.yellow { background-color: #D39914; }
.botao-apontar.yellow:hover { background-color: #bf8c15; }

.botao-apontar.red { background-color: #B70000; }
.botao-apontar.red:hover { background-color: #880303; }

